* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  --header-height: clamp(3.75rem, 8vw, 6rem);
}

html {
  font-size: 16px;
}

html, body, #root {
  height: 100%;
  background-color: #FEF9EF;
}

.app-container {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: var(--header-height);
  width: 100%;
}