* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  --header-height: clamp(3.75rem, 8vw, 6rem);

  --c0: #FEF9EF; 
  --c1: #227c9d;
  --c2: #fe6d73;
  --c3: #17C3B2;
  --c4: #FFD899;
  --c5: white;
  --c6: #404040;
  --c7: #7F7F7F;

  --cGood: #17C3B2;
  --cBad: #fe6d73;

  --f1: "Knewave";
  --f2: "Hachi Maru Pop";
  --f3: "Roboto";
}

html {
  font-size: 16px;
}

html, body, #root {
  height: 100%;
  background-color: #FEF9EF;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1240px;
  margin: 0 auto;
  margin-top: var(--header-height);
  width: 100%;
}

.app-container > .routes-wrapper {
  flex: 1;
}