/* BUTTONS */
.full-button-blue,
.full-button-green {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-size: 22px;
  height: 70px;
  padding: 10px 20px;
  color: white;
  border: none;
  text-align: center;
  border-radius: 12.5px;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  flex-shrink: 0;
}

.full-button-blue {
  background-color: #227c9d;
}

.full-button-green {
  background-color: #17c3b2;
}

.add-button-s,
.add-button-m,
.add-button-l {
  font-size: 30px;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #17c3b2;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-button-s.disabled,
.add-button-m.disabled,
.add-button-l.disabled {
  opacity: 0.5;
  pointer-events: none;
  background-color: #bdbdbd;
  color: #fff;
  cursor: not-allowed;
}

.add-button-s {
  width: 34px;
  height: 34px;
  font-size: 20px;
}

.add-button-m {
  width: 50px;
  height: 50px;
  font-size: 24px;
}

.add-button-l {
  width: 70px;
  height: 70px;
  font-size: 30px;
}

.cancel-button-s,
.cancel-button-m,
.cancel-button-l {
  background-color: #fe6d73;
  color: white;
  border-radius: 50%;
  border: none;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.cancel-button-s {
  width: 34px;
  height: 34px;
  font-size: 20px;
}

.cancel-button-m {
  width: 50px;
  height: 50px;
  font-size: 24px;
}

.cancel-button-l {
  width: 70px;
  height: 70px;
  font-size: 30px;
}

.clear-button {
  position: absolute;
  right: 18px;
  top: 52px;
  transform: translateY(-50%);
  color: #7f7f7f;
  font-size: 1.2em;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  z-index: 2;
  user-select: none;
}

/* BUTTONBAR */
.btn-bar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* BUTTONLINK */
.button-link{
  font-family: "Knewave", system-ui;
  font-size: 22px;
  padding: 10px 20px;
  color: #fe6d73;
  border: none;
}

.full, .full-green, .full-blue {
  text-align: center;
  background-color: #ffd899;
  border-radius: 12.5px;
  text-decoration: none;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.full-green{
  background-color: #17c3b2;
  color: white;
}

.full-blue{
  background-color: #227c9d;
  color: white;
}

.lite {
  text-decoration: none;
  background-color: transparent;
}

.return{
  background-color: transparent;
}
