.payment-info-container {
  width: 100%;
  border-radius: 25px;
  padding: 2.5rem;
  background-color: var(--c5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--f2);
}

.payment-info-title {
  font-size: 1.5rem;
  color: var(--c6);
}

.payment-info-form-mastercard {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  gap: 0.625rem;
}

label {
  font-size: 1rem;
  padding-left: 0.625rem;
  margin-bottom: 0.313rem;
  color: var(--c7);
}

input {
  height: 3.125rem;
  border-radius: 12.5px;
  border: 1px solid #c4c4c4;
  font-family: var(--f3);
  padding-left: 0.625rem;
  font-size: 1rem;
  color: #666666;
}

.payment-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}

.payment-options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.payment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  background-color: var(--c5);
  border-radius: 12.5px;
  width: 4rem;
  height: 2.5rem;
  opacity: 0.4;
  cursor: pointer;
}

.selected-btn {
  opacity: 1;
  scale: 1.2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.swish-logo {
  width: 1.5rem;
  height: 2rem;
}

.mastercard-logo {
  width: 2.5rem;
  height: 1.5rem;
}

.submit-btn {
  height: 4.375rem;
  width: 4.375rem;
  border-radius: 50%;
  border: none;
  background-color: var(--c3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.submit-arrow {
  font-size: 1.875rem;
  color: var(--c5);
}

.payment-info-form-swish {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  gap: 0.625rem;
}

.swish-phone-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.none {
  display: none;
}

.nowrap {
  white-space: nowrap;
}
