/* COMPANY NAME */
.company-name-blue, .company-name-red {
  font-family: var(--f1);
  font-weight: 400;
  font-size: clamp(1.5rem, 4vw, 2.8rem);
}

.company-name-blue {
  color: var(--c1);
}

.company-name-red {
  color: var(--c2);
}

/* USERMENU DROPDOWN */
.user-menu-text-hi, .user-menu-text-username{
  font-family: var(--f1);
  font-weight: 400;
}

.user-menu-text-hi{
  font-size: 1.5rem;
  color: var(--c1);
}

.user-menu-text-username{
  font-size: 1.75rem;
  color: var(--c2);
}

/* TITLEHEADER */
.title-header-blue,
.title-header-red {
  font-family: var(--f1);
  font-weight: 400;
}

.title-header-blue {
  font-size: clamp(1rem, 5vw, 3rem);
  color: var(--c1);
}

.title-header-red {
  font-size: clamp(1.25rem, 6vw, 4rem);
  color: var(--c2);
}

.empty-cart-text-blue,
.empty-cart-text-red {
  font-family: var(--f1);
  font-weight: 400;
}

.empty-cart-text-blue {
  font-size: clamp(1rem, 5vw, 2rem);
  color: var(--c1);
}

.empty-cart-text-red {
  font-size: clamp(1.25rem, 6vw, 3rem);
  color: var(--c2);
}

/* NOT FOUND */
.xl{
  font-size: clamp(1rem, 10vw, 4rem);
}

.xxl{
  font-size: clamp(3rem, 15vw, 6rem);
}

.smiley{
  font-family: var(--f1);
  color: var(--c6);
}

/* MENU TEASER */
.menu-teaser-text {
  font-family: var(--f2);
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

/* ITEM CARDS */
.menu-item-card-title {
  font-family: var(--f1);
  font-size: clamp(1rem, 3vw, 1.25rem);
  color: var(--c1);
}

.cart-item-card-title{
  font-family: var(--f1);
  font-size: clamp(1rem, 2vw, 1.25rem);
  color: var(--c1);
}

.cart-item-card-price{
  font-family: var(--f1);
  font-size: clamp(1rem, 2vw, 1.25rem);
  color: var(--c3);
}

.cart-item-card-description{
  font-family: var(--f3);
  font-size: clamp(0.7rem, 1.5vw, 1rem);
  color: var(--c7);
}

/* TOTAL PRICE */
.total-price-title,
.total-price-inc-text {
  font-family: var(--f1);
  color: var(--c6);
}

.total-price-title {
  font-size: clamp(1.25rem, 4vw, 2rem);
}

.total-price-inc-text {
  font-size: clamp(0.7rem, 2vw, 1.25rem);
}

.total-price {
  font-family: var(--f1);
  font-size: clamp(1.25rem, 4vw, 2rem);
  color: var(--c3);
}

/* FOOTER */
.footer-text {
  font-family: var(--f2);
  font-size: clamp(0.5rem, 2vw, 0.8rem);
  color: var(--c6);
}

.footer-company-name{
  font-family: var(--f1);
  font-size: clamp(0.6rem, 2vw, 1rem);
}

