.font1 {
  font-family: "Knewave", system-ui;
}

.font2 {
  font-family: "Hachi Maru Pop", cursive;
}

.font3 {
  font-family: "Roboto", sans-serif;
}

/* COMPANY NAME */
.company-name-blue, .company-name-red {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-size: clamp(1.5rem, 4vw, 2.8rem);
}

.company-name-blue {
  color: #227c9d;
}

.company-name-red {
  color: #fe6d73;
}

/* USERMENU DROPDOWN */
.user-menu-text-hi, .user-menu-text-username{
  font-family: "Knewave", system-ui;
  font-weight: 400;
}

.user-menu-text-hi{
  font-size: 1.5rem;
  color: #227c9d;
}

.user-menu-text-username{
  font-size: 1.75rem;
  color: #fe6d73;
}

/* TITLEHEADER */
.title-header-blue,
.title-header-red {
  font-family: "Knewave", system-ui;
  font-weight: 400;
}

.title-header-blue {
  font-size: clamp(1rem, 5vw, 3rem);
  color: #227c9d;
}

.title-header-red {
  font-size: clamp(1.25rem, 6vw, 4rem);
  color: #fe6d73;
}

.empty-cart-text-blue,
.empty-cart-text-red {
  font-family: "Knewave", system-ui;
  font-weight: 400;
}

.empty-cart-text-blue {
  font-size: clamp(1rem, 5vw, 2rem);
  color: #227c9d;
}

.empty-cart-text-red {
  font-size: clamp(1.25rem, 6vw, 3rem);
  color: #fe6d73;
}

/* NOT FOUND */
.xl{
  font-size: clamp(1rem, 10vw, 4rem);
}

.xxl{
  font-size: clamp(3rem, 20vw, 6rem);
}

.smiley{
  font-family: "Knewave", system-ui;
  color: #404040;
}

/* MENU TEASER */
.menu-teaser-text {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

/* ITEM CARDS */
.menu-item-card-title {
  font-family: "Knewave", system-ui;
  font-size: clamp(1rem, 3vw, 1.25rem);
  color: #227c9d;
}

.menu-item-card-price {
}

.menu-item-card-description {
}

.cart-item-card-title{
  font-family: "Knewave", system-ui;
  font-size: clamp(1rem, 2vw, 1.25rem);
  color: #227c9d;
}

.cart-item-card-price{
  font-family: "Knewave", system-ui;
  color: #17c3b2;
}

.cart-item-card-description{
  font-family: "Roboto", system-ui;
  font-size: clamp(0.7rem, 1.5vw, 1rem);
  color: #7f7f7f;
}

/* TOTAL PRICE */
.total-price-title,
.total-price-inc-text {
  font-family: "Knewave", system-ui;
  color: #404040;
}

.total-price-title {
  font-size: clamp(1.25rem, 4vw, 2rem);
}

.total-price-inc-text {
  font-size: clamp(0.7rem, 2vw, 1.25rem);
}

.total-price {
  font-family: "Knewave", system-ui;
  font-size: clamp(1.25rem, 4vw, 2rem);
  color: #17c3b2;
}
