.dropdown-menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: 60px;
  left: 0;
  background-color: #FEF9EF;;
  border-radius: 0 0 12.5px 12.5px;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu-btn{
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdown-menu-btn-icon{
  font-size: 22px;
  color: #227C9D;
}

.dropdown-menu-btn-text{
  display: flex;
  font-family: "Knewave", system-ui;
  color: #FE6D73;
  font-size: 20px;
  white-space: nowrap;
}