.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  height: var(--header-height);
  font-family: var(--f1);
  background-color: var(--c0);
  padding: 0 1.25rem;
  position: fixed;
  user-select: none;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  text-decoration: none;
}

.full-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.drone-delights-logo {
  width: clamp(2rem, 6vw, 4rem);
}

.company-name-container {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.header-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.basket-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  height: 2.75rem;
  border: none;
  position: relative;
  background-color: transparent;
  text-decoration: none;
}

.basket-icon {
  color: var(--c1);
  font-size: 2.125rem;
}

.basket-counter-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -6px;
  right: -6px;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  font-family: var(--f3);
  font-weight: bold;
  background-color: var(--c2);
  color: var(--c5);
}

.hide {
  display: none;
}

.all-header-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
