.cart-item-card-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 7.5rem;
  border-bottom: 1px solid #bfbfbf;
}

.cart-item-img-container {
  width: clamp(10rem, 20vw, 15rem);
  height: 7.5rem;
}

.cart-item-img {
  width: 100%;
  height: 7.5rem;
  object-fit: cover;
}

.cart-item-info-container {
  position: relative;
  margin-left: -1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7.437rem;
  border-radius: 25px 0 0 25px;
  background-color: var(--c5);
  z-index: 0;
}

.cart-item-left-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: clamp(7rem, 15vw, 13.75rem);
  padding-left: 1.25rem;
}

.cart-item-card-name {
  width: clamp(4rem, 15vw, 13.75rem);
}

.cart-item-card-price {
  width: clamp(4rem, 15vw, 13.75rem);
}

.cart-item-middle-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(7rem, 20vw, 13.75rem);
}

.cart-item-card-description {
  width: clamp(7rem, 20vw, 13.75rem);
}

.cart-item-middle-right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  gap: 1rem;
}

.cart-item-right-info {
  padding-right: 1.25rem;
}

.cart-item-full-quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6.375rem;
  height: 2.125rem;
  background-color: var(--c5);
  border-radius: 25px;
  border: 1px solid #cccccc;
}

.cart-item-quantity-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.125rem;
  height: 2.125rem;
  border: none;
  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;
}

.hide {
  display: none;
}

.cart-item-quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.125rem;
  height: 2.125rem;
}

.cart-item-quantity-icon {
  font-size: 1rem;
}

.cart-item-trash-icon {
  color: var(--cBad);
}

.cart-item-minus-icon {
  color: var(--cBad);
}

.cart-item-plus-icon {
  color: var(--cGood);
}

.cart-item-quantity {
  font-family: var(--f3)
}

@media (max-width: 650px) {
  .cart-item-info-container{
    justify-content: none;
  }

  .cart-item-middle-right-container {
    flex-direction: column-reverse;
    height: 100%;
    align-items: flex-end;
    justify-content: space-between;
    gap: 0;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
  }

  .cart-item-middle-info {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .cart-item-right-info{
    padding-right: 0;
  }

  .cart-item-card-name, .cart-item-card-price{
    width: 100%;
  }
}
