.not-found-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem 0 2rem;
}

.text-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.text-row span{
    white-space: nowrap;
    line-height: 1;
}