.most-ordered-title{
    font-family: var(--f2)
}

.most-ordered-container {
    display: flex;
    flex-direction: column;
    width: 40rem;
    gap: 0.625rem;
}

.most-ordered-item-cards-container-scroll {
    display: flex;
    flex-direction: row;
    padding: 0 3.75rem 1.25rem 1.25rem;
    gap: 2.5rem;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--c3) transparent;
    cursor: ew-resize;
}

.most-ordered-item-cards-container {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.most-ordered-item-cards-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

@media (max-width: 1240px) {
    .most-ordered-container {
        width: 100%;
        padding-left: 2rem;
    }
}