.item-card {
  position: relative;
  width: 220px;
  min-height: 250px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  overflow: visible;
}

.item-img {
  width: 100%;
  height: 167px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.full-quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 110px;
  right: 5px;
  width: 102px;
  height: 34px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #cccccc;
}

.quantity-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border: none;
  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;
}

.hide{
  display: none;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
}

.plus-btn {
}

.plus-btn-alone {
  background-color: white;
  border: 1px solid #cccccc;
  position: absolute;
  top: 110px;
  right: 5px;
}

.quantity-icon {
  font-size: 16px;
}

.trash-icon {
  color: #fe6d73;
}

.minus-icon {
  color: #fe6d73;
}

.plus-icon {
  color: #17c3b2;
}

.quantity {
  font-family: "Roboto", system-ui;
}

.item-info-full {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 5px;
  padding: 5px 5px 15px 20px;
  border-radius: 25px;
  width: 220px;
  margin-top: -22px;
}

.item-top-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-name {
  width: 160px;
  font-family: "Knewave", system-ui;
  font-size: 20px;
  color: #227c9d;
  user-select: none;
}

.add-to-favourites-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fav-icon {
  font-size: 20px;
  color: #7f7f7f;
}

.item-middle-bottom-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.item-middle-info {
  margin-bottom: 2px;
}

.price {
  font-family: "Knewave", system-ui;
  font-size: 16px;
  color: #17c3b2;
  user-select: none;
}

.item-bottom-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.item-description {
  font-family: "Roboto", system-ui;
  font-size: 12px;
  color: #7f7f7f;
  user-select: none;
  cursor: pointer;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
}

.expand-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  bottom: -9px;
  cursor: pointer;
}

.expand-icon {
  color: #227c9d;
}
