.menu-item-card {
  position: relative;
  width: 13.75rem;
  width: clamp(10rem, 30vw, 13.75rem);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  overflow: visible;
  user-select: none;
  transition: transform 0.2s ease;
}

.menu-item-img {
  width: 100%;
  height: 10.8rem;
  height: clamp(6rem, 22vw, 10rem);
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.quantity-wrapper-menu {
  position: absolute;
  top: -2.5rem;
  right: 0.3rem;
}

.hide {
  display: none;
}

.menu-item-info-full {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--c5);
  padding: 0.3rem 0.3rem 1rem 1.25rem;
  border-radius: 25px;
  width: 13.75rem;
  width: auto;
  margin-top: -1.375rem;
  cursor: pointer;
}

.menu-item-top-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item-name {
  width: 10rem;
}

.add-to-favourites-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.125rem;
  height: 2.125rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
  z-index: 1;
}

.fav-icon {
  font-size: 1.25rem;
  color: var(--c7);
  animation: unpop 0.3s ease;
}

@keyframes unpop {
  0% {
    transform: scale(1.25);
    opacity: 1;
  }
  50% {
    transform: scale(0.9) rotate(-10deg);
    opacity: 0.7;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

.fav-selected {
  color: var(--c2);
  scale: 1.25;
  animation: pop-rotate 0.4s ease;
}

@keyframes pop-rotate {
  0% {
    transform: scale(1.25) rotate(100deg);
  }
  40% {
    transform: scale(1.5) rotate(15deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.fav-icon:hover {
  color: var(--c2);
  scale: 1.25;
}

.menu-item-middle-bottom-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.price {
  font-family: var(--f1);
  font-size: clamp(0.8rem, 2vw, 1rem);
  color: var(--c3);
  user-select: none;
}

.menu-item-bottom-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu-item-description {
  font-family: var(--f3);
  font-size: clamp(0.7rem, 2vw, 1rem);
  color: var(--c7);
  user-select: none;
  cursor: pointer;
  width: clamp(7rem, 15vw, 10rem);
  width: 100%;
  padding-right: 2.125rem;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expand-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.125rem;
  height: 2.125rem;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  bottom: -0.5rem;
  cursor: pointer;
  flex-shrink: 0;
}

.expand-icon {
  color: var(--c1);
}

.bounce-expand {
  animation: bounce-expand 0.2s ease;
}

@keyframes bounce-expand {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}
