.cart-item-card-container {
  display: flex;
  position: relative;
  width: 775px;
  height: 121px;
  /* padding-bottom: 1px; */
  border-bottom: 1px solid #BFBFBF;
  /* border-top: 1px solid #BFBFBF; */
}

.cart-item-img-container {
  width: 173px;
  height: 121px;
}

.cart-item-img {
  width: 100%;
  height: 121px;
  object-fit: cover;
}

.cart-item-info-container {
  /* position: absolute; */
  position: relative;
  margin-left: -27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 629px;
  height: 120px;
  /* top: 0;
  right: 0; */
  border-radius: 25px 0 0 25px;
  background-color: white;
  z-index: 0;
}

.cart-item-left-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px;
  padding-left: 20px;
}

.cart-item-name {
  font-family: "Knewave", system-ui;
  font-size: 20px;
  color: #227c9d;
}

.cart-item-price {
  font-family: "Knewave", system-ui;
  font-size: 16px;
  color: #17c3b2;
}

.cart-item-middle-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

.cart-item-description {
  font-family: "Roboto", system-ui;
  font-size: 16px;
  color: #7f7f7f;
}

.cart-item-right-info {
  padding-right: 20px;
}

.cart-item-full-quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 110px;
  right: 5px;
  width: 102px;
  height: 34px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #cccccc;
}

.cart-item-quantity-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border: none;
  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;
}

.hide {
  display: none;
}

.cart-item-quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
}


.cart-item-quantity-icon {
  font-size: 16px;
}

.cart-item-trash-icon {
  color: #fe6d73;
}

.cart-item-minus-icon {
  color: #fe6d73;
}

.cart-item-plus-icon {
  color: #17c3b2;
}

.cart-item-quantity {
  font-family: "Roboto", system-ui;
}
