.menu-teaser-container {
  display: flex;
  flex-direction: column;
  margin-left: 6.25rem;
  width: 24rem;
  gap: 1.25rem;
}

.menu-teaser-text-container {
  width: 24rem;
  height: 14rem;
  text-align: left;
}

@media (max-width: 1240px) {
  .menu-teaser-container {
    margin-left: 0;
    width: 100%;
    padding: 1rem 4rem;
  }

  .menu-teaser-text-container {
    width: 100%;
    height: auto;
  }
}
