.title-header-container {
  position: relative;
  width: 100%;
  height: 265px;
  margin-bottom: 30px;
}

.title-header-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

.title-header-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.title-header-text {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
