.title-header-container {
  position: relative;
  width: 100%;
  height: clamp(5rem, 21.5vw, 16.5rem);
  margin-bottom: 30px;
}

.title-header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  z-index: 1;
}

.title-header-content {
  position: relative;
  height: clamp(4rem, 21.5vw, 16.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.title-header-text {
  display: flex;
  gap: 10px;
  align-items: baseline;
  user-select: none;
}
