.user-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .user-page-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    gap: 30px;
  }