.category-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: clamp(15rem, 50vw, 50rem);
  height: 5rem;
  gap: clamp(0.5rem, 4vw, 5rem);
}

.category-btn {
  font-family: var(--f2);
  font-size: clamp(1rem, 4vw, 2rem);
  height: 4.688rem;
  width: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.selected{
  font-family: var(--f1);
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: scale(1.5);
}

.fav-filter-selected{
  color: var(--c2);
  scale: 1.5;
}
