.category-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: clamp(15rem, 50vw, 50rem);
  height: 5rem;
  gap: clamp(0.5rem, 4vw, 5rem);
}

.category-btn {
  font-family: "Hachi Maru Pop", cursive;
  font-size: clamp(1rem, 4vw, 2rem);
  height: 75px;
  width: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.selected{
  font-family: "Knewave", system-ui;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: scale(1.5);
}

.fav-filter-selected{
  color:#FE6D73;
  scale: 1.5;
}
