.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    height: 80px;
    font-family: "Knewave", system-ui;
    background-color: #FEF9EF;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Se till att den ligger över annat innehåll */
}

.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.full-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.drone-delights-logo{
    width: 51px;
    height: 46px;
}

.header-title{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 184px;
    height: 45px;
    font-size: 45px;
}

.drone{
    color: #227C9D;
}

.delights{
    color: #FE6D73;
}

.header-btns-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.basket-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: none;
    position: relative;
    background-color: transparent;
    color: #227C9D;
    text-decoration: none;
}

.basket-icon{
    color: #227C9D;
    font-size: 34px;
}

.basket-counter-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -6px;
    right: -6px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background-color: #FE6D73 ;
    color: white;
}

.hide{
    display: none;
  }