.order-confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(1.5rem, 5vw, 3.125rem);
  width: 100%;
  background-color: #ffffff81;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  padding: 2.5rem;
}

.confirmed-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmed {
  font-size: clamp(4rem, 15vw, 6.25rem);
  color: var(--c3);
}

.order-confirmation-title {
  display: flex;
  flex-direction: column;
  font-family: var(--f1);
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

.your-order-is {
  color: var(--c1);
  font-size: clamp(1rem, 5vw, 2rem);
}

.on-the-way {
  color: var(--c2);
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.order-summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.125rem;
  width: 100%;
}

.order-items-all-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12.5px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  width: 100%;
}

.order-item-card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5rem;
  overflow: hidden;
}

.order-image-container {
  width: 7.5rem;
  height: 5rem;
}

.order-image {
  width: 100%;
  height: 5rem;
  object-fit: cover;
}

.order-item-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--c5);
  border-bottom: 1px solid #bfbfbf;
  border-radius: 12.5px 0 0 12.5px;
  width: 100%;
  height: 5rem;
  margin-left: -1.25rem;
  padding: 1.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.order-item-title {
  font-family: var(--f1);
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--c1);
}

.ordet-item-price-and-quantity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.order-item-price {
  font-family: var(--f1);
  font-size: 1rem;
  color: var(--c3);
}

.order-item-quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.order-item-quantity-text {
  font-family: var(--f2);
  font-size: 0.75rem;
  color: var(--c6);
}

.order-item-quantity {
  font-family: var(--f1);
  font-size: 1rem;
  color: var(--c6);
}

.order-total-cost-container,
.order-number-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.25rem;
  background-color: var(--c5);
  border-radius: 12.5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-btn {
  font-size: 2.5rem;
}

.order-number-container {
  box-shadow: none;
  border: none;
  background-color: transparent;
}

.total-cost-row,
.order-number-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.order-number-row {
  justify-content: center;
}

.total-cost-text,
.order-number-text {
  font-family: var(--f1);
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--c6);
}

.total-cost-price,
.order-number-id {
  font-family: var(--f1);
  font-size: 1.5rem;
  color: var(--c3);
}

.order-number-id {
  color: var(--c1);
}

.order-delivery-and-payment-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--c5);
  border-radius: 12.5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.25rem;
  gap: 1.25rem;
  width: 100%;
  border-top: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
}

.order-payment-method-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.payment-method-title {
  font-family: var(--f1);
  font-weight: 400;
  font-size: 1rem;
  color: var(--c6);
}

.payment-method-text {
  font-family: var(--f3);
  font-size: 1rem;
  color: var(--c6);
}

.order-delivery-address-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.delivery-address-title {
  font-family: var(--f1);
  font-weight: 400;
  font-size: 1rem;
  color: var(--c6);
}

.thank-you-text {
  font-family: var(--f1);
  font-weight: 400;
  font-size: 2rem;
  color: var(--c1);
}
