.payment-method-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  gap: 1rem;
}

.payment-method-card-primary-container-active,
.payment-method-card-primary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
  width: clamp(3rem, 20vw, 5rem);
  height: 1.8rem;
}

.payment-method-card-primary-container-active {
  font-family: "Roboto", system-ui;
  font-weight: bold;
  font-size: 1rem;
  background-color: #00d82f;
  border-radius: 12.5px;
  color: white;
}

.payment-method-cardnumber-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 11.25rem;
  height: 1.875rem;
  font-size: clamp(0.6rem, 2vw, 0.8rem);
}

.payment-method-card-primary-text{
  font-size: clamp(0.6rem, 2vw, 1rem);
}

.set-primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: dotted 2px #CCCCCC;
  color: #CCCCCC;
  background-color: transparent;
  width: clamp(3rem, 20vw, 5rem);
  height: 1.875rem;
  padding: 0.5rem 0.5rem;
  border-radius: 12.5px;
  font-family: "Roboto", system-ui;
  font-weight: bold;
  font-size: clamp(0.6rem, 2vw, 1rem);
  cursor: pointer;
}
