.checkout-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkout-page-body {
  width: clamp(20rem, 80vw, 30rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

.checkout-page-btns {
  width: 100%;
}

.hide {
  display: none;
}
